.vsys {
  display: none !important;
}
.post-body p a {
  color: #0684bd;
  border-bottom: none;
  border-bottom: 1px solid #0684bd;
}
.post-body p a:hover {
  color: #87daff;
  border-bottom: none;
  border-bottom: 1px solid #87daff;
}
